*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url(Pictures/MC2.png);
}

body{
    width: 100%;
    height: 500vh;
    background-color: black;
    color: white;
  font-family: "Manrope", sans-serif;
}

/* Hero page section */

.Heropage{
background: url(/Pictures/Red&Black.png);
 background-size: cover;
 background-repeat: no-repeat;
 height: 95vh;
 width: 100%;
 display: grid;
justify-content: center;
align-items: center;
position: fixed;
top: 0;
z-index: -1;
}

.Heropage::after{
  content: "";
  background-image:(

  );
  width: 200%;
  height: 200%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.1;
  animation: animateGrain 8s steps(10) infinite;
}

nav{
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  backdrop-filter: blur(100%);
  width: 30vw;
  margin: 1% 0 0 70%;
  padding: 11px;
  border-radius: 50px;
  z-index: 9;
}

nav a{
  text-decoration: none;
  color: white;
  height: 11px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 650;
}

h1{
  text-align: center;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 9.4rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  max-width: 93vw;
  contain: layout style paint;
}

.Mickey{
  position: relative;
  margin-left: 45vw;
  top: 13%;
  width: 70vw;
  height: 90vh;
}

.herotext{
  position: absolute;
  top: 63%;
  margin-left: 2.6vw;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  max-width: 93vw;
}

.buy{
  position: absolute;
  top: 89%;
  margin-left: 2.6vw;
  width: 10rem;
  height: 44px;
  background-color: red;
  color: white;
  font-weight: 800;
  font-size: 1.1rem;
 text-decoration: none;
 padding: 10px;
 padding-left: 1.4rem;
 border-radius: 5px;
  border: none;
 box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.719);
 animation: buy infinite timing-function delay iteration-count direction fill-mode;
}

a:link{
  text-decoration: none;
}


/* media responsiveness for the Hero page */

@media screen and (min-width: 320px) and (max-width: 768px){

h1{
  position: absolute;
  top: 13%;
  padding: 3vh 1.2vw;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2.6rem;
}

.Mickey{
  position: relative;
  top: -3%;
  width: 80vw;
  height: 70vh;
}
}

/* About section */

.gradient{
width: 90vw;
height: 200vw;
position: relative;
background: linear-gradient(
  180deg,
  rgba(0, 0, 0, 0) 0%
   rgba(0, 0, 0, 1) 100%
);
z-index: 1;
}

h2{
   display: flex;
justify-content: center;
align-items: center;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 5rem;
  padding-bottom: 3%;
}

.About{
  position: relative;
  width: 100%;
  height: 300vh;
  padding: 2em;
  background-color: black;
  color: white;
  z-index: 1;
  padding-top: 10vh;
}
