*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 500vh;
    background-color: black;
    color: white;
  font-family: "Manrope", sans-serif;
}

/* Hero page section */

.Heropage{
background: url(/Pictures/Red&Black.png);
/* background-position: center; */
 background-size: cover;
 background-repeat: no-repeat;
 height: 95vh;
 width: 100%;
 display: grid;
justify-content: center;
align-items: center;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a{
  text-decoration: none;
  color: white;
}

h1{
  position: absolute;
  top: 50px;
  margin-left: 2.6vw;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 9.4rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  max-width: 93vw;
  display: block;
  contain: layout style paint;
}

.Mickey{
  position: relative;
  top: 14%;
  width: 70vw;
  height: 90vh;
}


/* media responsiveness for the Hero page */

@media screen and (min-width: 320px) and (max-width: 768px){

h1{
  position: absolute;
  top: 13%;
  padding: 3vh 1.2vw;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2.6rem;
}

.Mickey{
  position: relative;
  top: -3%;
  width: 80vw;
  height: 70vh;
}
}

/* About section */

.About{
  padding-top: 10vh;
}
